:root {
    /*
     * 颜色
     */
    // 主题色
    --c-primary:      #1E44C2;
    --cd-primary:     #4582E6;

    // 功能色
    --c-success:      #10a341; // 成功
    --c-warning:      #ed7b2f; // 警告
    --c-fail:         #D92424; // 失败
    --c-info:         #0594fa; // 消息
    --cd-success:     #1aba4d; // 成功
    --cd-warning:     #ed7b2f; // 警告
    --cd-fail:        #fa4747; // 失败
    --cd-info:        #0594fa; // 消息
    
    // 彩虹色
    --c-red:          #e34d59;
    --c-orange:       #ed7b2f;
    --c-yellow:       #ebb105;
    --c-green:        #00a870;
    --c-blue:         #0969da;
    --c-purple:       #834ec2;
    --c-pink:         #ed49b4;
    --cd-red:         #f57681;
    --cd-orange:      #f58f4c;
    --cd-yellow:      #fac936;
    --cd-green:       #2ad39b;
    --cd-blue:        #3fa6f0;
    --cd-purple:      #9e64e4;
    --cd-pink:        #fa67c7;

    // 背景色
    --c-bg:           #fff; // 主色背景
    --c-bglight:      #f2f2f2; // 浅色背景
    --c-bgdark:       #ddd;
    --cd-bg:          #222; // 主色背景
    --cd-bglight:     #333; // 浅色背景

    // 字体色
    --c-main:         #333; // 主色
    --c-sub:          #666; // 二级色
    --c-sup:          #aaa; // 辅助色
    --c-placeholder:  #aaa; // 默认文字颜色
    
    --cd-main:        #fff; // 主色
    --cd-sub:         #999; // 二级色
    --cd-sup:         #777; // 辅助色
    --cd-placeholder: #777; // 默认文字颜色

    // 装饰色
    --c-border:       #ddd; // 边框色
    --cd-border:      #444; // 边框色

    // 常用文字字号行高比
    --f-48: 48px/56px var(--font-family);
    --f-40: 40px/48px var(--font-family);
    --f-36: 36px/44px var(--font-family);
    --f-32: 32px/40px var(--font-family);
    --f-28: 28px/36px var(--font-family);
    --f-24: 24px/32px var(--font-family);
    --f-20: 20px/28px var(--font-family);
    --f-18: 18px/26px var(--font-family);
    --f-16: 16px/24px var(--font-family);
    --f-15: 15px/23px var(--font-family);
    --f-14: 14px/22px var(--font-family);
    --f-13: 13px/21px var(--font-family);
    --f-12: 12px/20px var(--font-family);

    /*
     * 阴影
     */
    --s-low:     0px 4px 12px rgba(0, 0, 0, 0.13); // 低层
    --s-middle:  0px 4px 12px rgba(0, 0, 0, 0.10); // 中层
    --s-high:   0px 4px 12px rgba(0, 0, 0, 0.07); // 高层

    // 默认字体
    --font-family: -apple-system,BlinkMacSystemFont,
        Segoe UI,Roboto,Ubuntu,
        Helvetica Neue,
        Helvetica,Arial,
        PingFang SC,
        Hiragino Sans GB,
        Microsoft Yahei UI,
        Microsoft Yahei,
        Source Han Sans CN,
        'Segoe UI Emoji',
        'Apple Color Emoji',
        sans-serif;
}

::-webkit-input-placeholder {
    color: var(--c-placeholder);
}

// 默认滚动条（白底、默认隐藏）
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: rgba(0,0,0,0);
    transition: background 2s;
}
*::-webkit-scrollbar-corner {
    background: transparent;
}
*:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.3);
}
// 黑底、默认隐藏
.am-scrollbox-hide-dark {
    &:hover::-webkit-scrollbar-thumb, *:hover::-webkit-scrollbar-thumb {
        background-color: rgba(255,255,255,.3)!important;
    }
}
// 白底、默认显示
.am-scrollbox-show-light {
    &::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,.3)!important;
    }
}
// 黑底、默认显示
.am-scrollbox-show-dark {
    &::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
        background-color: rgba(255,255,255,.3)!important;
    }
}

input, textarea {
    font-family: var(--font-family);
}