.container {
    h2 {
        margin-top: 2.25rem;
        margin-bottom: 1.25rem;
        border-bottom: 1px solid var(--c-divider);
        padding-bottom: 0.3rem;
        line-height: 1.25;
        font-size: 1.65rem;
        overflow-x: auto;
    }
    th, td {
        padding: 0.6em 1em;
    }
}